USE [master]
GO
/****** Object:  Database [TowaryDB]    Script Date: 16-Oct-18 22:53:00 ******/
CREATE DATABASE [TowaryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Towary', FILENAME = N'C:\Dev\Zadanie - Rekrutacja\Pliki danych\Towary.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Towary_log', FILENAME = N'C:\Dev\Zadanie - Rekrutacja\Pliki danych\Towary_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TowaryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TowaryDB]
GO
/****** Object:  Table [dbo].[Cenniki]    Script Date: 16-Oct-18 22:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cenniki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](255) NOT NULL,
	[Data_Od] [datetime] NULL,
	[Data_Do] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ceny]    Script Date: 16-Oct-18 22:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ceny](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CennikId] [int] NULL,
	[TowarId] [int] NULL,
	[Cena] [decimal](10, 2) NOT NULL,
	[Rabat] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Towary]    Script Date: 16-Oct-18 22:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [varchar](7) NOT NULL,
	[Nazwa] [varchar](255) NOT NULL,
	[Masa] [decimal](14, 3) NULL,
	[JM] [varchar](50) NULL,
	[Data_Utworzenia] [datetime] NULL,
	[Data_Modyfikacji] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ceny]  WITH CHECK ADD  CONSTRAINT [FK_Ceny_Cenniki] FOREIGN KEY([CennikId])
REFERENCES [dbo].[Cenniki] ([Id])
GO
ALTER TABLE [dbo].[Ceny] CHECK CONSTRAINT [FK_Ceny_Cenniki]
GO
ALTER TABLE [dbo].[Ceny]  WITH CHECK ADD  CONSTRAINT [FK_Ceny_ToTable] FOREIGN KEY([TowarId])
REFERENCES [dbo].[Towary] ([Id])
GO
ALTER TABLE [dbo].[Ceny] CHECK CONSTRAINT [FK_Ceny_ToTable]
GO
USE [master]
GO
